{% extends "base.html" %}
{% block content %}


<script>
    $(document).ready(function() {
  $('.dms').css('width', '20%');
      });
  </script>


  <article class="c-article">
  <header class="c-article__header">
    <h1 class="c-article__title">
      
    Disease Monitoring System
    </h1>
  </header>
</article>


  
  <div id="safety">
    <h3>You are 20% safe</h3>
        <div class="progress">
          <div class="dms progress-bar progress-bar-info" role="progressbar" style="width: 0%">
          </div>
        </div>
      </div>
 
  <div class="head">
    <h3>Top Diseases in your area :</h3>
  </div>
  <div class="alert-card" style="border-right-color:#cc0000;">
    <div class="column-1">
      <h4>DiseaseName</h4>
      <p>some description here. some description here. some description here. some description here. some description here. some description here. some description here. some description here. some description here. </p>
    </div>
    <div class="column-2"><h2>10</h2></div>
  </div>
  <div class="alert-card" style="border-right-color:#cc2200;">
    <div class="column-1">
      <h4>DiseaseName</h4>
      <p>some description here. some description here. some description here. some description here. some description here. some description here. some description here. some description here. some description here. </p>
    </div>
    <div class="column-2"><h2>10</h2></div>
  </div>
  <div class="alert-card" style="border-right-color:#cc4400;">
   <div class="column-1">
      <h4>DiseaseName</h4>
      <p>some description here. some description here. some description here. some description here. some description here. some description here. some description here. some description here. some description here. </p>
    </div>
    <div class="column-2"><h2>10</h2></div>
    
  </div>
  <div class="alert-card" style="border-right-color:#cc6600;">
   <div class="column-1">
      <h4>DiseaseName</h4>
      <p>some description here. some description here. some description here. some description here. some description here. some description here. some description here. some description here. some description here. </p>
    </div>
    <div class="column-2"><h2>10</h2></div>
  </div>
  <div class="alert-card" style="border-right-color:#cc8800;">
   <div class="column-1">
      <h4>DiseaseName</h4>
      <p>some description here. some description here. some description here. some description here. some description here. some description here. some description here. some description here. some description here. </p>
    </div>
    <div class="column-2"><h2>10</h2></div>
  </div>
  <div class="alert-card" style="border-right-color:#ccaa00;">
    <div class="column-1">
      <h4>DiseaseName</h4>
      <p>some description here. some description here. some description here. some description here. some description here. some description here. some description here. some description here. some description here. </p>
    </div>
    <div class="column-2"><h2>10</h2></div>
  </div>
  
  <!--div class="enter">
    <a href="">
  Enter Data
</a>
  </div-->
  
{%endblock%}