{% extends "disease/base.html" %}
{% block content %}


<script>
    $(document).ready(function() {
  $('.dms').css('width', '20%');
      });
  </script>


  <article class="c-article">
  <header class="c-article__header">
    <h1 class="c-article__title">
      
    Disease Monitoring System
    </h1>
  </header>
</article>


  
  <div id="safety">
    <h3>You are 20% safe</h3>
        <div class="progress">
          <div class="dms progress-bar progress-bar-info" role="progressbar" style="width: 0%">
          </div>
        </div>
      </div>
 
  <div class="head">
    <h3>Top Diseases in your area :</h3>
  </div>
  {% for alert in alerts %}
  <div class="alert-card" style="border-right-color:#cc0000;">
    <div class="column-1">
      <h4>{{alert.disease}}</h4>
      <p>{{ alert.symptoms}} </p>
    </div>
    <div class="column-2"><h2>{{alert.people_affected}}</h2></div>
  </div>
  {% endfor %}

  
  <!--div class="enter">
    <a href="">
  Enter Data
</a>
  </div-->
  
{% endblock%}