{% extends "disease/base.html" %}
{% block content %}


<div class="info">
    <h3>not sure why but okay</h3>
    <p>Write something here longg...Write something here longg...Write something here longg...Write something here longg...Write something here longg...Write something here longg...Write something here longg...Write something here longg...Write something here longg...Write something here longg...Write something here longg...Write something here longg...Write something here longg...Write something here longg...Write something here longg...Write something here longg...Write something here longg...Write something here longg...Write something here longg...Write something here longg...Write something here longg...Write something here longg...Write something here longg...Write something here longg...Write something here longg...Write something here longg...Write something here longg...Write something here longg...Write something here longg...Write something here longg...Write something here longg...Write something here longg...Write something here longg...</p>
  </div>

  {%endblock%}