<!-- Footer -->
<footer class="footer">
  <div class="row align-items-center justify-content-xl-between">
    <div class="col-xl-6">
      <div class="text-center text-xl-left ">
        <a href="https://github.com/deadlycoder07/disease-predictor" class="font-weight-bold ml-1 text-muted"
          target="_blank">disese anomaly detection system</a>
      </div>
    </div>
    <div class="col-xl-6">
      <div class="text-center text-xl-right ">
        <a href="" class="font-weight-bold ml-1 text-muted" target="_blank">Team init
      </div>
    </div>
  </div>
</footer>